html {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

img, svg {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.fa-brands {
  font-size: 20px;
  line-height: 20px;
  color: currentColor;
}

.fa-solid {
  font-size: 20px;
  line-height: 20px;
  color: currentColor;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}

.btn_primary {
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .btn_primary:hover {
    background-color: #b10e17;
  }
}

.btn_primary:active {
  background-color: #e1121d;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: var(--color-accent);
}

.section-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--color-accent);
}

.section-separator {
  border-bottom: 1px solid #f0eded;
}















