/* HEADER */
.header {
  color: var(--color-white);
}

.header_page_main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
}

.white-link {
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .white-link:hover {
    color: var(--color-saffron);
  }
}

.white-link:active {
  color: var(--color-turbo);
}

.header__top {
  padding: 15px 0;
  background-color: var(--color-accent);
}

.header__top-container {
  display: flex;
  gap: 35px;
}

.header__socials {
  margin-left: auto;
}

.header__main {
  padding: 15px 0;
  background-color: var(--color-accent);
}

.header__main-container {
  display: flex;
  justify-content: space-between;
}

.phones {
  display: flex;
  align-items: center;
  gap: 35px;
}

.phones__item {
  display: flex;
  flex-direction: column;
}

.phones__text {
  opacity: 0.7;
}

.header__menu {
  background-color: rgba(48, 48, 48, 0.8);
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  position: relative;
}

@media (min-width: 1025px) {
  .menu__item:hover .sub-menu__list {
    visibility: visible;
    opacity: 1;
  }

  .menu__item:hover .white-link {
    color: var(--color-saffron);
  }
}

.menu__item:active .white-link {
  color: var(--color-turbo);
}

.sub-menu__list {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 50px;
  min-width: 280px;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: visibility 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.sub-menu__item {
  background-color: var(--color-white);
}

.sub-menu__item:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.menu__link {
  display: inline-block;
  padding: 15px;
}

.sub-menu__link {
  display: inline-block;
  padding: 12px 20px;
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .sub-menu__link:hover {
    color: var(--color-accent);
  }
}

/* HERO */
.hero {
  padding-top: 0;
}

.hero__slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.hero__slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide__img {
  height: 100%;
}

.hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero__content {
  border-radius: 10px;
  position: relative;
  z-index: 100;
  padding: 15px;
  background-color: rgba(48, 48, 48, 0.8);
  text-align: center;
}

.hero__title {
  color: var(--color-saffron);
}

.hero__tagline {
  font-size: 40px;
  line-height: 42px;
  color: var(--color-white); 
}

.hero__btn {
  padding: 10px 34px;
}

.hero__down-btn {
  position: absolute;
  z-index: 50;
  left: 50%;
  bottom: 50px;
  display: flex;
  color: var(--color-white);
  transform: translateX(-50%);
  outline: none;
}

/* STOCK */
.stock__title {
  margin: 0;
  margin-bottom: 30px;
}

.stock__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.product {
  position: relative;
  margin: 0;
  min-height: 300px;
  transition: opacity 0.3s ease-in-out;
}

.product__link {
  position: absolute;
  inset: 0;
}

.product__img {
  border-radius: 20px;
  display: block;
  margin-bottom: 15px;
}

.product__caption {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: var(--color-accent);
  cursor: pointer;
}

.product__caption::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .product:hover {
    opacity: 0.8;
  }

  .product:hover .product__caption::after {
    transform: scaleX(1);
  }
}

/*SERVICES*/
.services__wrapper {
  display: flex;
  justify-content: space-between;
}

.services__title {
  margin-bottom: 30px;
}

.services__list {
  padding: 0;
  margin: 0;
  font-weight: 500;
  list-style-position: inside;
}

.services__item::marker {
  color: var(--color-accent);
}

.services__item {
  margin-bottom: 5px;
}

.services__image {
  max-width: 620px;
}

.services__img {
  border-radius: 20px;
}

/*REVIEWS*/
.reviews__slider {
  position: relative;
}

.swiper-button-next {
  right: -60px;
}

.swiper-button-prev {
  left: -60px;
}

.reviews__slider-btn {
  top: 40%;
  border-radius: 100px;
  width: 44px;
  background-color: #d7d7d7;
}

.reviews__slider-btn::after {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
}

.reviews__slide {
  border-radius: 20px;
  padding: 20px;
  color: var(--color-white);
  background-color: #303030;
}

.reviews__par {
  margin: 0;
  margin-bottom: 17px;
}

.reviews__autor {
  max-width: 250px;
  color: var(--color-turbo);
}

.reviews__autor-name {
  font-weight: 700;
  color: var(--color-white);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-turbo);
}

/*AWARDS*/
.awards__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.awards__link {
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .awards__link:hover {
    opacity: 0.8;
  }
}

.awards__img {
  display: block;
  max-height: 250px;
}

.footer {
  color: var(--color-white);
}

.footer__top {
  padding: 30px 0;
}

.footer__top-container {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  position: relative;
  color: var(--color-accent);
}

.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .footer__link:hover::after  {
    transform: scaleX(1);
  }
}

.footer__bot {
  padding: 29px 0;
  background-color: var(--color-accent);
}

.footer__bot-container {
  display: flex;
  justify-content: space-between;
}