.cart__btn {
  position: relative;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .cart__btn:hover {
    color: var(--color-saffron);
  }
}

.cart__btn:active {
  color: var(--color-turbo);
}

.cart__count {
  position: absolute;
  right: -5px;
  bottom: -5px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  min-width: 16px;
  color: var(--color-white);
  background-color: var(--color-black);
}

