.cart__btn {
  position: relative;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .cart__btn:hover {
    color: var(--color-saffron);
  }
}

.cart__btn:active {
  color: var(--color-turbo);
}

.cart__count {
  position: absolute;
  right: -5px;
  bottom: -5px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  min-width: 16px;
  color: var(--color-white);
  background-color: var(--color-black);
}

.catalog {
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.breadcrumbs__link {
  color: var(--color-accent);
}

.breadcrumbs__link:not(:last-child)::after {
  content: ">";
  margin: 0 10px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 35px;
}

.catalog__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding-top: 40px;
}

.catalog__grid {
  grid-column: 9 span;
}

.catalog__right {
  grid-column: 3 span;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}

.catalog-list__item {
  grid-column: 3 span;
}

.good__btns-wrapper {
  display: none;
}

.good__image {
  position: relative;
  width: 100%;
  max-height: 293px;
}

.good__image  img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.good__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
  text-align: center;
}

.good__price {
  font-weight: 500;
  text-align: center;
}



